<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery.min.js"/>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<h1>게시글 목록</h1>
<table class="table table-hover">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>저자</th>
        <th>가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${board_list}">
        <td th:text="${book.bid}" id="bid"></td>
        <td><a th:href="'/board/detail?bid='+${book.bid}" th:text="${book.title}" id="title"></a></td>
        <td th:text="${book.author}" id="author"></td>
        <td th:text="${book.price}" id="price"></td>
    </tr>
    </tbody>
</table>
<hr/>
<div>
    <th:block th:each="num: ${#numbers.sequence(1,boardPage_list)}">
        <a th:text="${num}" th:href="'/board/list?pageNo='+${num}"/>
    </th:block>
</div>
<hr/>
<div class="pull-right">
    <a href="/board/write" class="btn btn-primary">글쓰기</a>
</div>
</body>
</html>