<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<h2>책 정보 입력</h2>
<form action="/board/update" th:method="put">
    <input type="hidden" name="bid" th:value="${book?.bid}"/>
    <p>
        <strong>책 제목</strong>
        <input type="text" name="title" th:value="${book?.title}" >
    </p>
    <p>
        <strong>책 저자</strong>
        <input type="text" name="author" th:value="${book?.author}">
    </p>
    <p>
        <strong>가격</strong>
        <input type="text" name="price" th:value="${book?.price}">
    </p>
    <p>
        <strong>세부사항</strong>
        <textarea name="content" th:text="${book?.content}"></textarea>
    </p>
    <p>
        <input type="submit" value="제출하기">
    </p>
</form>
</body>
</html>